**Que. 1. Explain the key features of python that make it a popular choice for programming**.

**Ans.** Python is a high-level, interpreted programming language. It is also open source language which means the source code is freely available and can be modified and distributed by anyone.

**Key features of Python :-**

1. Easy to use and learn
2.Multi-Paradigm
3.Open source
4.Large Standard Library
5.Object-Oriented programming Language
6.Dynamically Typed
7.Large Community Support
8.Portable
9.Platform independent
10.Saalable
11.High Level Language
12.Interpreted
13.Third Party Libraries
14.cross Platform
15.Frontend and Backend development
16.Easy to Debug

**Que. 2.Describe the role of predefined keywords in python and provides examples of how they are used in a program.**

**Ans.** Predefined keywords on Python,also known as reserved words,are words with specific meanings and purposes that define the syntax and logic of python code.

**Example :-**

In [40]:
help("keywords") #The total no of keywords are 35

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [43]:
#Indentation>> more readble
if 3 > 2:
    print("greater")

greater

**Que. 3.Compare and contrast mutable and immutable objects in python with example**.

**Ans.**


*   Mutable Objects whose state or value can be changed after they are created are called as mutable object.
*   Immutable Objects whose state or value can not be changed after they are
created are called as immutable objects.



*   Example :-  
              Mutable Object :-list is a type of mutable object/supports item assignment

In [ ]:
list1 = [1,2,3,4.3,3+5j,True,"Sanket"]
list1

[1, 2, 3, 4.3, (3+5j), True, 'Sanket']

In [ ]:
list1[1]

2

In [ ]:
list[6]

list[6]

In [ ]:
list1[6] = "Amit"

In [ ]:
list1

[1, 2, 3, 4.3, (3+5j), True, 'Amit']

   Immutable Object :- string is a type of immutable object/doesn't supports item assignment

In [ ]:
a = "Sanket"

In [ ]:
a

'Sanket'

In [ ]:
a[0] = "I"

TypeError: 'str' object does not support item assignment

In [ ]:
a[5] = "w"

TypeError: 'str' object does not support item assignment

**Que. 4.Discuss the different types of operators in python and provide examples of how they are used.**

**Ans.**
        

*   Arithmetic operators (+, -, *, /,%,**,//)

*   Comparison operators (==, !=, <, >,>=,<=)

*   Logical operators (and, or, not)
*  Bitwise operators (&,|,~,^,<<,>>)


*  Assignment operators (=, +=, -=, *=, /=)


*   Membership Operators (in, not in)


*   Identity operators (is, is not)

In [ ]:
#Arithmetic operators

a = 7
b = 6

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

13
1
42
1.1666666666666667
1
117649
1

In [ ]:
#Comparison operators

a = 10
b = 5

print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a>=b)
print(a<=b)

False
True
False
True
True
False

In [ ]:
#Logical operators

a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
#Bitwise operators

a = 5
b = 8

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a << b)
print(a >> b)

0
13
-6
13
1280
0

In [ ]:
#Assignment operators

a = 4
b = 7

a += b
print(a)

a -= b
print(a)

a *= b
print(a)

a /= b
print(a)

11
4
28
4.0

In [ ]:
#Membership Operators

a = [1,2,3,4,5]
b = 3

print(b in a)
print(b not in a)

True
False

In [ ]:
#identity operators

a = 5
b = 5

print(a is b)
print(a is not b)

True
False

**Que. 5.Explain the concept of type casting in python with examples.**

**Ans.**
The process of changing a variable's data type to another data type. There are two types of type casting in Python:



*  Implicit
*   Explicit


**Example:-**
             string to integer,interger to float,string to float,integer to string.

In [1]:
#string to integer
a = "4"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [2]:
#integer to float
a = 5
type(a)

int

In [5]:
b = float(a)
b

5.0

In [6]:
type(b)

float

In [19]:
#integer to string
a = 5
type(a)

int

In [20]:
a

5

In [21]:
b = str(a)
b

'5'

In [22]:
type(b)

str

**Que.  6.How do conditional statements work in python?Illustrate with examples.**

**Ans.**Conditional statements in Python are used to execute a specific block of code based on the truth value of a condition. The most common conditional statements in Python are if, elif, and else. These allow the program to react differently depending on whether a condition (or a series of conditions) is true or false.

**Example:-**

In [23]:

x = 10
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is greater than 5

In [24]:
score = 75
if score >= 90:
    print("Grade A")
elif (80<=score<90):
    print("Grade B")
elif (70<=score<80):
    print("Grade C")
elif (60<=score<70):
    print("Grade D")
elif (50<=score<60):
    print("Grade E ")
else:
    print("Grade F")

Grade C

**Que. 7.Describe the different types of loops in Python and their use cases with examples.**

**Ans.** It allows you to execute a block of code repeatedly.


**Types:-**

*   **for loop**:-Iterate over a sequence of elements >> strings, list,array.

* **while loop:-** repeatedly executed a block of code untill a condition is met.

In [25]:
#for loop

a = 4
for i in range(0, a):
    print(i)

0
1
2
3

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [34]:
l = [1,2,"Sanket","pwskills"]
for i in l:
    print(i)

1
2
Sanket
pwskills

In [35]:
for i in l:
    print(i)
else:
    print("This will be executed when for loop end without a break statement")

1
2
Sanket
pwskills
This will be executed when for loop end without a break statement

In [36]:
#break statement i for loop
for i in l:
    if i == "Sanket":
        break
    print(i)
else:
    print("This will be executed when for loop end without a break statement")

1
2

In [37]:
#continue >> skips the iteration
for i in l:
    if i == "Sanket":
        continue
    print(i)
else:
    print("This will be executed when for loop end without a break statement")

1
2
pwskills
This will be executed when for loop end without a break statement

In [30]:
#while loop

count = 0
while (count < 3):
    count = count + 1
    print("Hello world")

Hello world
Hello world
Hello world

In [31]:
n = 7
i = 1
while i < n :
    print(i)
    i = i+1

1
2
3
4
5
6

In [32]:
#break condition >> the condition is met it will break loop
n = 7
i = 1
while i < n :
    print(i)
    i = i+1
    if i == 3:
        break
else:
    print("this will be executed when the while is run successfuly withou any break ")

1
2

In [33]:
#continue >> skips the iteration
n = 7
i = 1
while i < n :
    i = i+1
    if i == 3:
        continue
    print(i)
else:
    print("this will be executed when the while is run successfuly withou any break ")

2
4
5
6
7
this will be executed when the while is run successfuly withou any break